@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin margin($width, $margin, $padding){
    @media(min-width: $width){
        margin: $margin;
        padding: $padding;
    }
}