@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin margin($width, $margin, $padding){
    @media(min-width: $width){
        margin: $margin;
        padding: $padding;
    }
}
@mixin heigth($width, $height, $ancho){
    @media(min-width: $width){
        height: $height;
        width: $ancho;
    }
}
@mixin position($width,$position, $top, $right, $bottom, $left){
    @media(min-width: $width){
    position: $position;
     top: $top;
     right: $right;
     bottom: $bottom;
     left: $left;
        }
}