.cards3{
    background-color: #fff;
    &:hover{
        box-shadow: 5px  3px 10px #aaa;
        cursor: pointer;
        
    }

    h3{
        margin-top: 0 !important;
    }
}
.card4:hover img{
        box-shadow: 5px  3px 10px #aaa;
}