@use '../mixins/mixins.scss';
.content_carousel{
    background-color: #1472c9;
    display: flex !important;
    margin: 0 0 3rem;
    @include mixins.heigth(0, 200px , '');
    @include mixins.heigth(600px, 250px, '');
    @include mixins.heigth(1200px, 350px, '');
    @include mixins.heigth(1600px, 350px, '');
   
}