@use './modules/contentFormLogin.scss';
@use './mixins/mixins.scss';
@use './modules/carousel.scss';
@use './modules/nav.scss';
@use './modules/section-plus.scss';
@use './modules/Cards.scss';
header{
    @include mixins.margin(0, 0rem, 0 );
    @include mixins.margin(800px, '', 0 2rem);
    @include mixins.margin(1200px, '', 0 4rem);
    background-color: #fff;
    box-shadow: 0 1px 5px 0 #555
}

.margin{
    @include mixins.margin(0, 0 , 1rem .5rem 0);
    @include mixins.margin(600px, '', 1rem 1rem 2rem);
    @include mixins.margin(900px, '', 1rem 2rem 2rem);
    @include mixins.margin(1200px, '', 1rem 4rem 3rem);
}
footer{
    margin-top: 3rem;
}
.css-dev-only-do-not-override-12likxn{
    background: '#000' !important;
}